.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  color: #000000;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
  height: 32px;
}

.header__title {
  z-index: 2;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
  margin: 0;
  padding: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
 }

.header__square-pic {
  position: absolute;
  z-index: 0;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  margin: 100px auto;
  color: #000000;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.section-title {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px auto 0;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style: none;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 890px;
  background: url(../images/feynman.png) #f2f2f2 no-repeat bottom left;
  background-size: 867px 637px;
  color: #000000;
  }

.feynman__title {
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration:none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px;
  background-color: #1f1f1f;
  color: white;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  margin: 20px auto 0 auto;
  padding: 0;
  text-align: center;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  list-style: none;
}

.table__cell {
  width: 200px;
}

.table__cell_theme_dark {
  z-index: 1;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_theme_dark {
  margin: 0;
  padding: 0;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  background: url(../images/kaufman-triangle.svg) no-repeat;
  background-size: 877px 877px;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px auto;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 0;
  padding: 0;
  margin: 18px auto 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px auto 16px auto;
  padding-left: 0;
  list-style: none;
}

.footer__column-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration:none;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}












